[Unit]
Description=Simple service CronJobs

[Service]
WorkingDirectory=/opt
ExecStart=/opt/main.bin
RuntimeMaxSec=5s
Restart=always

[Install]
WantedBy=multi-user.target
