[Unit]
Description=CronJob
After=network.target

[Service]
Restart=on-failure
StandardOutput=journal
StandardError=inherit
TimeoutStopSec=50
KillSignal=INT
SendSIGKILL=yes
SuccessExitStatus=0
ExecStart=/opt/main.bin

[Install]
WantedBy=multi-user.target
